.preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fafffa;
  opacity: 1;
  z-index: 100; }
  .preloader h2 {
    text-align: center;
    text-transform: capitalize;
    margin-top: 5em;
    text-decoration: underline;
    animation: blink 2s linear infinite; }
  .preloader .load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*change these sizes to fit into your project*/
    width: 90px;
    height: 90px; }
  .preloader .load hr {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite; }
  .preloader .load :first-child {
    background: #8a4fff;
    animation-delay: -1.5s; }
  .preloader .load :nth-child(2) {
    background: #cccdc6;
    animation-delay: -1s; }
  .preloader .load :nth-child(3) {
    background: #cba328;
    animation-delay: -0.5s; }
  .preloader .load :last-child {
    background: #1f271b; }

@keyframes spin {
  0%,
  100% {
    transform: translate(0); }
  25% {
    transform: translate(160%); }
  50% {
    transform: translate(160%, 160%); }
  75% {
    transform: translate(0, 160%); } }

@keyframes blink {
  0% {
    opacity: 0; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }

.pb-sm {
  padding-bottom: 1em !important; }

.pt-sm {
  padding-top: 1em !important; }

.pb-xsm {
  padding-bottom: 0.5em !important; }

.pt-xsm {
  padding-top: 0.5em !important; }

.p-all-sm {
  padding: 1em !important; }

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

html,
body {
  min-height: 100vh; }

body {
  font-size: 100%;
  font-family: "Red Hat Display", sans-serif;
  line-height: 1.5;
  color: #1f271b;
  transition: 300ms; }
  @media screen and (min-width: 48em) {
    body {
      font-size: 105%; } }

h1,
h2,
h3,
h4 {
  font-family: "Libre Baskerville", serif; }

a {
  text-decoration: none; }

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.container {
  max-width: 80em;
  width: 100%;
  margin: 0 auto;
  padding: 0 1em; }

img {
  max-width: 100%;
  display: block; }

section {
  padding: 5em 0; }

.btn {
  cursor: pointer;
  text-transform: capitalize;
  background-color: #8a4fff;
  color: #fafffa;
  border-radius: 0.3em;
  font-weight: 700;
  padding: 0.7em 1em;
  font-size: 0.85rem;
  border: 1px solid #8a4fff;
  transition: 0.15s linear; }
  .btn:hover, .btn:active, .btn:focus {
    color: #8a4fff;
    background-color: #fafffa; }

.main-link,
.main-link:link,
.main-link:visited {
  color: #fafffa;
  line-height: 1.3;
  letter-spacing: 1px;
  margin-bottom: 0.5em;
  font-size: 1.25rem; }
  .main-link:hover, .main-link:active, .main-link:focus,
  .main-link:link:hover,
  .main-link:link:active,
  .main-link:link:focus,
  .main-link:visited:hover,
  .main-link:visited:active,
  .main-link:visited:focus {
    color: #cba328;
    text-decoration: underline; }

.main-desc {
  color: #cccdc6;
  font-size: 0.85rem;
  letter-spacing: 0.3px; }
  @media screen and (min-width: 48em) {
    .main-desc {
      font-size: 0.9rem; } }

.section-heading {
  color: #8a4fff;
  text-transform: capitalize;
  font-size: 1.5rem; }
  @media screen and (min-width: 60em) {
    .section-heading {
      font-size: 2rem; } }

.article-title {
  font-size: 1rem;
  color: #8a4fff;
  text-transform: capitalize;
  margin-bottom: 0.5em; }
  @media screen and (min-width: 60em) {
    .article-title {
      font-size: 1.1rem; } }

.article-author,
.article-publish-date,
.article-source,
.article-desc {
  font-size: 0.85rem; }

.article-author,
.article-publish-date,
.article-source {
  margin-bottom: 0.2em; }
  .article-author span,
  .article-publish-date span,
  .article-source span {
    font-style: italic;
    color: #cba328; }

.article-author,
.article-publish-date {
  display: inline-block; }

.article-source {
  text-transform: capitalize;
  margin-bottom: 2em; }

.highlight-tab {
  color: black;
  font-weight: 700;
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem; }
  .highlight-tab:hover, .highlight-tab:active {
    color: #8a4fff; }
  .highlight-tab-active {
    background-color: #cba328;
    color: #8a4fff; }

.quote-desc {
  position: relative;
  margin-bottom: 1em; }
  .quote-desc::first-letter {
    font-weight: 700;
    font-size: 1.25rem;
    color: #cba328; }
  .quote-desc::before {
    content: '"';
    position: absolute;
    top: -4rem;
    left: -1rem;
    color: inherit;
    font-size: 8rem;
    opacity: 0.3; }

.quote-author {
  text-transform: capitalize;
  color: #cba328;
  font-style: italic;
  font-size: 0.85rem; }

.nav__mobile {
  display: none;
  height: 15rem;
  flex: 100%;
  position: relative;
  border-top: 1px solid #cccdc6;
  background-color: #fafffa; }

.nav__mobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1em; }

.nav__main {
  display: none; }
  @media screen and (min-width: 60em) {
    .nav__main {
      display: block; } }

.nav__main ul {
  display: flex;
  gap: 0.5em; }

.nav__link:link, .nav__link:visited {
  color: #1f271b;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: relative;
  transition: opacity 500ms ease-in-out; }

.nav__link::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: -0.8rem;
  left: 50%;
  height: 0.55rem;
  width: 0.55rem;
  border-radius: 50%;
  background-color: #8a4fff;
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms ease-in-out; }

.nav__link.active-link, .nav__link:hover, .nav__link:active, .nav__link:focus {
  color: #681cff; }
  .nav__link.active-link::after, .nav__link:hover::after, .nav__link:active::after, .nav__link:focus::after {
    visibility: visible;
    opacity: 1; }

.daily-fact {
  background-color: #6f26ff;
  color: #fafffa;
  font-weight: bold;
  text-align: center;
  opacity: 0.88; }
  .daily-fact h3 {
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: bold;
    color: #bd9cff;
    margin-bottom: 0.5em; }
    @media screen and (min-width: 48em) {
      .daily-fact h3 {
        margin-bottom: 0;
        font-size: 1.5rem; } }
  .daily-fact p {
    font-style: italic;
    font-size: 0.85rem; }
    @media screen and (min-width: 48em) {
      .daily-fact p {
        letter-spacing: 0.5px; } }

.menu-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3em;
  cursor: pointer; }
  @media screen and (min-width: 60em) {
    .menu-btn {
      display: none; } }
  .menu-btn span {
    display: inline-block;
    width: 2rem;
    height: 0.2em;
    border-radius: 3em;
    background-color: #1f271b; }
    .menu-btn span:nth-of-type(2) {
      width: 1.75rem; }
    .menu-btn span:nth-of-type(3) {
      width: 1.5rem; }

.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative; }

.header__left {
  display: flex;
  align-items: center;
  gap: 0.75em; }

.header__right {
  display: flex;
  align-items: center;
  gap: 0.75em; }

.logo {
  font-size: 2rem;
  font-family: "Libre Baskerville", serif;
  color: #8a4fff;
  font-weight: bold;
  text-transform: uppercase; }

.weather {
  display: flex;
  align-items: center;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  font-weight: bold; }
  .weather__img {
    width: 2.5rem; }
  .weather__region {
    display: none; }
    @media screen and (min-width: 31.25em) {
      .weather__region {
        display: block; } }

.notification-tab {
  display: flex;
  position: relative; }
  .notification-tab p {
    font-size: 1.5rem;
    color: #8a4fff; }
  .notification-tab span {
    position: absolute;
    background-color: #cba328;
    font-size: 0.85rem;
    font-weight: bold;
    border-radius: 50%;
    height: 0.9rem;
    width: 0.9rem;
    top: -0.2rem;
    right: 0;
    display: grid;
    place-content: center; }

.hero-main {
  padding-top: 0 !important;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  gap: 1em; }
  @media screen and (min-width: 60em) {
    .hero-main {
      flex-direction: row;
      gap: 2.5em; } }
  .hero-main__item {
    border-radius: 0.3rem;
    position: relative;
    height: 30rem;
    overflow: hidden; }
    @media screen and (min-width: 48em) {
      .hero-main__item {
        height: 35rem; } }
    @media screen and (min-width: 60em) {
      .hero-main__item:first-of-type {
        flex: 1; } }
    @media screen and (min-width: 75em) {
      .hero-main__item:first-of-type {
        flex: 2; } }
    @media screen and (min-width: 60em) {
      .hero-main__item:nth-of-type(2) {
        flex: 1; } }
    @media screen and (min-width: 75em) {
      .hero-main__item:nth-of-type(2) {
        flex: 1.5; } }
  .hero-main__img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .hero-main__text {
    width: 100%;
    position: absolute;
    padding: 1em;
    bottom: 0;
    background-color: rgba(31, 39, 27, 0.7); }
    @media screen and (min-width: 31.25em) {
      .hero-main__text {
        padding: 1.5em; } }
    .hero-main__text .main-desc {
      display: none; }

.latest__stories {
  margin: 2.5em 0;
  display: flex;
  flex-direction: column;
  gap: 4em; }
  @media screen and (min-width: 48em) {
    .latest__stories {
      flex-direction: row;
      gap: 1.5em; } }

@media screen and (min-width: 48em) {
  .latest__story {
    width: 25%; } }

.latest__category {
  color: #fafffa;
  background-color: #cba328;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
  padding: 0.2em 1em;
  border-radius: 1rem;
  margin-bottom: 1em; }

.latest__img {
  border-radius: 0.3em;
  width: 100%;
  object-fit: cover;
  height: 15rem; }

.latest__heading {
  margin: 1em 0; }

.latest__credit {
  font-size: 0.85rem; }

#tabs-2 {
  display: none; }

.highlight {
  padding-top: 0 !important; }
  .highlight .container {
    display: flex;
    flex-direction: column;
    gap: 6em; }
    @media screen and (min-width: 48em) {
      .highlight .container {
        flex-direction: row;
        gap: 2em; } }
  .highlight__content {
    padding: 1.5em;
    flex: 1; }
    @media screen and (min-width: 60em) {
      .highlight__content {
        flex: 35%; } }
  .highlight__tabs {
    display: flex;
    gap: 1.5em;
    align-items: center;
    width: 100%;
    text-transform: capitalize;
    font-family: "Libre Baskerville", serif;
    margin-bottom: 2em; }
  .highlight__article {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1em; }
    .highlight__article:not(:last-of-type) {
      margin-bottom: 2em;
      padding-bottom: 0.3em;
      border-bottom: 1px solid #cccdc6; }
  .highlight__article .article-title:hover {
    text-decoration: underline;
    cursor: pointer; }
  .highlight__img {
    display: none;
    margin-bottom: 1.5em; }
    @media screen and (min-width: 31.25em) {
      .highlight__img {
        display: block;
        width: 6rem;
        height: 6rem;
        object-fit: cover; } }
  .highlight__quote-box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    @media screen and (min-width: 60em) {
      .highlight__quote-box {
        flex: 60%; } }
  .highlight__quote-box-content {
    overflow: hidden;
    height: 35rem;
    width: 100%;
    border-radius: 0.3rem;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    position: relative; }
    @media screen and (min-width: 31.25em) {
      .highlight__quote-box-content {
        height: 40rem; } }
    @media screen and (min-width: 60em) {
      .highlight__quote-box-content {
        height: 50rem;
        width: 75%; } }
    .highlight__quote-box-content img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .highlight__quote {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 30%;
    z-index: 1;
    text-align: center;
    width: 15rem;
    color: #cccdc6; }

.category {
  background-color: #cccdc6; }
  .category__stories {
    margin-top: 4em; }
    @media screen and (min-width: 31.25em) {
      .category__stories {
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
        justify-content: space-between;
        align-items: center; } }
    @media screen and (min-width: 48em) {
      .category__stories {
        gap: 3em; } }
    @media screen and (min-width: 60em) {
      .category__stories {
        gap: 1.5em; } }
  .category__story {
    flex: 45%;
    display: block;
    margin-bottom: 4em; }
    .category__story:hover {
      cursor: pointer; }
    @media screen and (min-width: 31.25em) {
      .category__story {
        margin-bottom: 0; } }
    @media screen and (min-width: 60em) {
      .category__story {
        flex: 23%; } }
  .category__story:hover img {
    transform: scale(1); }
  .category__story:hover .article-title {
    text-decoration: underline; }
  .category__story-img-box {
    width: 100%;
    height: 15rem;
    margin-bottom: 1em;
    border-radius: 0.3em;
    overflow: hidden; }
    .category__story-img-box img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.1);
      transition: 0.25s linear; }
