*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
}

body {
  font-size: 100%;
  font-family: $font-base;
  line-height: 1.5;
  color: $color-black;
  transition: 300ms;
  @include mq($media-tab) {
    font-size: 105%;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $font-heading;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 80em;
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}

img {
  max-width: 100%;
  display: block;
}

section {
  // &:not(&:nth-of-type(1)) {
  //   padding: 5em 0;
  // }

  padding: 5em 0;
}
