.btn {
  cursor: pointer;
  text-transform: capitalize;
  background-color: $color-cta;
  color: $color-white;
  border-radius: 0.3em;
  font-weight: 700;
  padding: 0.7em 1em;
  font-size: $font-size-small;
  border: 1px solid $color-cta;
  transition: 0.15s linear;

  &:hover,
  &:active,
  &:focus {
    color: $color-cta;
    background-color: $color-white;
  }
}
