.footer {
  background-color: $color-black;
  padding: 5em 0 2em;
  color: $color-grey;

  &__logo {
    border: 1px solid;
    text-align: center;
    .logo {
      font-size: $font-size-medium;
      margin-bottom: 0.5em;
      display: inline-block;
    }
  }

  &__socials {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
  }

  &__link {
    background-color: $color-white;
    color: $color-black;
    border-color: $color-white;
    display: grid;
    place-content: center;
    padding: 0.8em;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;

    &:hover,
    &:active,
    &:focus {
      background-color: $color-black;
      color: $color-grey;
    }
  }
}
