// hero main index.html ======
.hero-main {
  display: flex;
  flex-direction: column;
  gap: 1em;

  &__item {
    height: auto;
    margin: 0 0.8em;
    border-radius: 3px;
    border: 1px solid;
    &:first-of-type {
      // background-color: aqua;
    }

    &:nth-of-type(2) {
      // background-color: red;
    }
  }
}
