#tabs-2 {
  display: none;
}

.highlight {
  padding-top: 0 !important;

  .container {
    display: flex;
    gap: 2em;
  }

  &__content {
    // border: 1px solid;
    padding: 1.5em;
    flex: 1;

    @include mq($media-tab-land) {
      flex: 35%;
    }
  }

  &__tabs {
    display: flex;
    gap: 2em;
    align-items: center;
    width: 100%;
    text-transform: capitalize;
    font-family: $font-heading;
    margin-bottom: 2em;
    // background-color: orange;
  }

  &__tab {
    padding: 0.5em 0.8em;
    font-weight: 700;
    a {
      cursor: pointer;
    }

    &.active-tab {
      background-color: $color-secondary;
    }
  }

  &__article {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1em;
    &:not(:last-of-type) {
      margin-bottom: 2em;
      padding-bottom: 0.3em;
      border-bottom: 1px solid $color-grey;
    }
  }

  &__article .article-title {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__img {
    display: none;
    margin-bottom: 1.5em;
    @include mq($media-tab) {
      display: block;
      width: 4.5rem;
      height: 4.5rem;
    }

    @include mq($media-tab-land) {
      width: 6rem;
      height: 6rem;
    }
  }

  &__quote {
    // width: 50%;
    flex: 1;
    background-color: black;

    @include mq($media-tab-land) {
      flex: 60%;
    }
  }
}
