.latest {
  // background-color: $color-grey;
  &__stories {
    margin: 2.5em 0;
    display: flex;
    flex-direction: column;
    gap: 4em;
    @include mq($media-tab) {
      flex-direction: row;
      gap: 1.5em;
    }
  }

  &__story {
    // background-color: rgba($color-white, 15%);
    // padding: 1em 0;
    @include mq($media-tab) {
      width: 25%;
    }
  }

  &__category {
    color: $color-white;
    background-color: $color-secondary;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $font-size-small;
    padding: 0.2em 1em;
    border-radius: 1rem;
    margin-bottom: 1em;
  }

  &__img {
    border-radius: 0.3em;
    width: 100%;
    object-fit: cover;
    height: 15rem;
  }

  &__heading {
    margin: 1em 0;
  }

  &__credit {
    font-size: $font-size-small;
  }
}
