.latest {
  &__stories {
    margin: 2.5em 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }

  &__story {
    background-color: rgba($color-white, 15%);
    margin-bottom: 2em;
    flex: 45%;
    // background-color: red;
  }

  &__category {
    color: $color-white;
    background-color: $color-secondary;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $font-size-small;
    padding: 0.2em 1em;
    border-radius: 1rem;
    margin-bottom: 1em;
  }

  &__img {
    border-radius: 0.3em;
  }

  &__heading {
    margin: 1em 0;
  }

  &__credit {
    font-size: $font-size-small;
  }
}
