.main-link,
.main-link:link,
.main-link:visited {
  color: $color-white;
  line-height: 1.3;
  letter-spacing: 1px;
  margin-bottom: 0.5em;
  font-size: $font-size-avg;
  @include mq($media-tab) {
    // font-size: $font-size-medium;
  }

  &:hover,
  &:active,
  &:focus {
    color: $color-secondary;
    text-decoration: underline;
  }
}

.main-desc {
  color: $color-grey;
  font-size: $font-size-small;
  letter-spacing: 0.3px;
  @include mq($media-tab) {
    font-size: 0.9rem;
  }
}

.section-heading {
  color: $color-cta;
  text-transform: capitalize;
  font-size: $font-size-medium;
  @include mq($media-tab-land) {
    font-size: $font-size-in-between;
  }
}

.article-title {
  font-size: $font-size-base;
  color: $color-cta;
  text-transform: capitalize;
  margin-bottom: 0.5em;
  @include mq($media-tab-land) {
    font-size: 1.1rem;
  }
}
.article-author,
.article-publish-date,
.article-source,
.article-desc {
  font-size: $font-size-small;
  @include mq($media-tab-land) {
    // font-size: $font-size-base;
  }
}

.article-author,
.article-publish-date,
.article-source {
  margin-bottom: 0.2em;
  span {
    font-style: italic;
    color: $color-secondary;
  }
}

.article-author,
.article-publish-date {
  display: inline-block;
}

.article-source {
  text-transform: capitalize;
  margin-bottom: 2em;
}

.highlight-tab {
  color: black;
  font-weight: 700;
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
  &:hover,
  &:active {
    color: $color-cta;
  }

  &-active {
    background-color: $color-secondary;
    color: $color-cta;
  }
}

.quote-desc {
  position: relative;
  margin-bottom: 1em;
  &::first-letter {
    font-weight: 700;
    font-size: $font-size-avg;
    color: $color-secondary;
  }

  &::before {
    content: '"';
    position: absolute;
    top: -4rem;
    left: -1rem;
    color: inherit;
    font-size: 8rem;
    opacity: 0.3;
  }
}

.quote-author {
  text-transform: capitalize;
  color: $color-secondary;
  font-style: italic;
  font-size: $font-size-small;
}
