// colors
$color-black: #1f271b;
$color-cta: #8a4fff;
$color-secondary: #cba328;
$color-grey: #cccdc6;
$color-white: #fafffa;

// fonts
$font-heading: "Libre Baskerville", serif;
$font-base: "Red Hat Display", sans-serif;

// font sizes
$font-size-small: 0.75rem;
$font-size-base: 1rem;
$font-size-avg: 1.25rem;
$font-size-large: 1.5rem;
$font-size-large: 2rem;
$font-size-xl: 3rem;

// margins
